/* First, imports */
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carien&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SF+Pro&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

/* Then Tailwind layers */
@tailwind base;
@tailwind components;
@tailwind utilities;


@custom-variant dark (&:is(.dark *));

@theme {
  --font-poppins: "Poppins";
}

@theme {
  --font-satoshi: 'Satoshi', sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}


.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes loaderGold {
  0% {
    box-shadow: 20px 0 #A98E40, -20px 0 #A98E4022;
    background: #A98E40
  }

  33% {
    box-shadow: 20px 0 #A98E40, -20px 0 #A98E4022;
    background: #A98E4022
  }

  66% {
    box-shadow: 20px 0 #A98E4022, -20px 0 #A98E40;
    background: #A98E4022
  }

  100% {
    box-shadow: 20px 0 #A98E4022, -20px 0 #A98E40;
    background: #A98E40
  }
}

.animate-loaderGold {
  animation: loaderGold 1s infinite linear alternate;
}


@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/sf-pro/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/sf-pro/SFPRODISPLAYMEDIUM.OTF') format('opentype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/sf-pro/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/sf-pro/SFPRODISPLAYBLACKITALIC.OTF') format('opentype');
  font-weight: 900;
  font-style: italic;
}


@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/sf-pro/SFPRODISPLAYHEAVYITALIC.OTF') format('opentype');
  font-weight: 800;
  font-style: italic;
}


@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/sf-pro/SFPRODISPLAYSEMIBOLDITALIC.OTF') format('opentype');
  font-weight: 600;
  font-style: italic;
}


@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/sf-pro/SFPRODISPLAYLIGHTITALIC.OTF') format('opentype');
  font-weight: 300;
  font-style: italic;
}


@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/sf-pro/SFPRODISPLAYTHINITALIC.OTF') format('opentype');
  font-weight: 100;
  font-style: italic;
}


@font-face {
  font-family: 'SF Pro';
  src: url('/fonts/sf-pro/SFPRODISPLAYULTRALIGHTITALIC.OTF') format('opentype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Carien';
  src: url('../public/fonts/sf-pro/CarienRegular.woff2') format('woff2'),
    url('../public/fonts/sf-pro/CarienRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Gowun Dodum';
    src: url('../public/fonts/GowunDodum-Regular.woff2') format('woff2'),
        url('../public/fonts/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  font-family: 'Gowun Dodum', 'Carien', 'SF Pro', sans-serif;
  overflow-x: hidden;
}

@theme {
  --font-sfpro: 'Gowun Dodum', sans-serif;
  --font-carien: 'Carien', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

.font-gowun {
  font-family: 'Gowun Dodum', sans-serif;
}

.font-carien {
  font-family: 'Carien', sans-serif;
}

.font-sfpro {
  font-family: 'SF Pro', sans-serif;
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}


::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D4AF37; 
  border-radius: 10px;
  opacity: 0.1;
}
html, body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden !important;
  position: relative;
}

/* [data-aos] {
  transform: translateZ(0) !important;
  will-change: opacity, transform;
  overflow-x: hidden !important;
}

[data-aos^="fade"][data-aos^="fade"] {
  transform: translate3d(0,0,0) !important;
} */

.google-btn-wrapper > div {
  width: 100% !important;
}

.google-btn-wrapper iframe {
  width: 100% !important;
}
/* #container-div{width: 100%;} */

.plan-slider .slick-dots li button:before{font-size: 17px;top: 5px;}
/* hide scrollbar for all browsers */
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none;     /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE 10+ */
  scrollbar-width: none;      /* Firefox */
}

.cms-content h1,
.cms-content h2,
.cms-content h3,
.cms-content h4,
.cms-content h5,
.cms-content h6 {
  font-weight: 700;
}

.cms-content strong,
.cms-content b {
  font-weight: 700;
}

.cms-content h3 {
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.cms-content p {
  margin-bottom: 1rem;
  line-height: 1.7;
}

.cms-content ul {
  list-style: disc;
  padding-left: 1.5rem;
  margin: 1rem 0;
}

@media (max-width:1280px) {
  .our-feature-wrapper{background-image: unset !important;background-color: black;}
}
@media (max-width:640px) {
  .header-chat-drop{position: fixed;top: 87px; background-color: black;padding: 10px;}
  
}
@media (max-width:480px) {
  .header-chat-btn{white-space: nowrap;}
  
}

